<section>
  <form [formGroup]="loginForm" *ngIf="!loading">
    <div class="form-group center connexion bloc">
      <p class="title">Conectez vous:</p>
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control input"
        id="email"
        formControlName="email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control input"
        id="password"
        formControlName="password"
      />
      <button
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
        (click)="onLogin()"
      >
        LOGIN
      </button>
      <br />
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>

      <input
        class="create input_click"
        type="submit"
        value="Créez votre compte!"
        (click)="createUser()"
      />
    </div>
  </form>
</section>
