.connexion{
    margin-top: 2%;
    height: auto;
}

.title{
    font-weight: 500;
    font-size: x-large;
    border-bottom: 1px solid midnightblue;
}

.connect{
    margin-bottom: 20%;
    height: 50px;
    width: 200px;
}

@media (max-width: 991px){
    
    .connexion{
        margin: auto;
        margin-top: 5%;
        width: 80%;
    }

}

@media (max-width: 767px){
    
    .connexion{
        margin: auto;
        margin-top: 5%;
        width: 95%;
    }
}