.section_nav {
  display: flex;
  width: 30%;
  height: auto;
  margin: auto;
}

.nav {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 75%;
}

.input_nav {
  color: white;
  height: 40px;
  width: auto;
  border-color: #4e5166;
  background-color: #4e5166;
}

.input_nav:hover {
  background-color: #fd2d01;

  -webkit-transition: background 0.5s 0s ease;
  -moz-transition: background 0.5s 0s ease;
  -o-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}

@media (max-width: 991px) {
  .nav {
    margin-top: 10%;
    margin-bottom: 5%;
    width: auto;
  }

  .input_nav {
    margin-left: 80%;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .nav {
    width: 90%;
    margin-top: 15%;
    margin-bottom: 5%;
  }
}
