.bloc {
  margin-top: 2%;
  border-radius: 10%;
}

.input {
  border-radius: 20px;
}

.input_click:hover {
  background-color: #ffd7d7;
  border: solid 2px #4e5166;

  -webkit-transition: background 0.5s 0s ease;
  -moz-transition: background 0.5s 0s ease;
  -o-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}

@media (max-width: 991px) {
  .bloc {
    margin: auto;
    margin-top: 5%;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .bloc {
    margin: auto;
    margin-top: 5%;
    width: 95%;
  }
}
