<p class="list-title" *ngIf="posts.length > 0">
  Publications les plus récentes:
</p>
<div class="post-list" *ngIf="posts.length > 0">
  <div
    class="post-list-item"
    *ngFor="let post of posts"
    (click)="onClickPost(post._id)"
  >
    <div>
      <p>
        Par
        <strong>{{ post.userId }}</strong>
      </p>
      <h2>{{ post.title | uppercase }}</h2>
    </div>
    <div>
      <i class="fa-regular fa-thumbs-up"></i>
    </div>
    <div>
      <a class="modify-btn">modifié</a>
      <a class="delete-btn">supprimé</a>
    </div>
  </div>
</div>
