<div (click)="onClickPost()">
  <p>
    Par
    <strong>{{ post.username }}</strong>
  </p>
  <h4>{{ post.title | uppercase }}</h4>
  <img
    width="100"
    [src]="'http://localhost:3000/images/' + post.imageUrl"
    alt=""
  />
  <div>
    <a><i class="fa-regular fa-thumbs-up"></i></a>
  </div>
  <div>{{ post.likers.length }}</div>
  <button *ngIf="isOwner" (click)="deletePost()">supprimer</button>
  <button *ngIf="isOwner" (click)="editPost()">modifier</button>
  <button (click)="likePost()" [ngClass]="isLiked ? 'red' : 'green'">
    {{ isLiked ? "dislike" : "like" }}
  </button>
</div>
