<div (click)="onClickPost()">
  <p class="user">
    Par
    <strong class="username">{{ post.username }}</strong>
  </p>
  <h4 class="title">{{ post.title | uppercase }}</h4>
  <img
    class="imgpost"
    [src]="'http://localhost:3000/images/' + post.imageUrl"
    alt=""
  />
  <div class="likers">{{ post.likers.length }}</div>

  <div>
    <i class="far fa-heart"></i>
  </div>

  <button (click)="likePost()" [ngClass]="isLiked ? 'like' : 'dislike'">
    {{ isLiked ? "dislike" : "like" }}
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
  </button>

  <button *ngIf="isOwner" class="delete" (click)="deletePost()">
    supprimer
  </button>
  <button *ngIf="isOwner" class="edit" (click)="editPost()">modifier</button>
</div>
