<form [formGroup]="postForm" class="edit_form">
  <div class="form-group">
    <label class="edit" for="title">modifier votre post : </label>
    <input
      type="text"
      class="form-control text"
      id="title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <input
      type="file"
      accept="image/*"
      #imageInput
      (change)="onFileAdded($event)"
    />
    <img
      [src]="imagePreview"
      *ngIf="imagePreview"
      style="max-height: 100px; display: block; margin-top: 10px"
    />
  </div>

  <button
    class="publier"
    mat-raised-button
    (click)="onSubmit()"
    [disabled]="postForm.invalid"
  >
    Publier
  </button>
</form>
