<ng-container class="post-list bloc">
  <p class="list-title" *ngIf="posts.length > 0">
    Publications les plus récentes:
  </p>
  <div class="post-list" *ngIf="posts.length > 0">
    <!-- 
      fair un component post et lui passé l'objet post en param 
      puis faire le ngfor sur le component post
      dans ce composant post ajouter un bouton etdit et un bouton delete

      <div
      class="post-list-item"
      *ngFor="let post of posts"
      (click)="onClickPost(post._id)"
    > 
      <h4>{{ post.title | uppercase }}</h4> 
    </div> -->
    <app-post></app-post>
  </div>
</ng-container>
