<ng-container class="post-list bloc">
  <p class="list-title" *ngIf="posts.length > 0">
    Publications les plus récentes:
  </p>
  <div class="post-list" *ngIf="posts.length > 0">
    <div class="post-list-item" *ngFor="let post of posts">
      <span> isEditing {{ post.isEditing }}</span>
      <post-component
        *ngIf="!post.isEditing; else edit"
        [post]="post.post"
        (postEvent)="handleClickOnPost($event)"
        (deletPostEvent)="deletePost($event)"
        (editPostEvent)="toggleEditPost($event)"
        (likePostEvent)="editPost($event)"
      ></post-component>
      <ng-template #edit>
        <app-edit-post
          [post]="post.post"
          (editPostEvent)="editPost($event)"
        ></app-edit-post>
      </ng-template>
    </div>
  </div>
</ng-container>
