<section>
    <div class="column bloc">
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
        <p>Affichage des publications</p>
    </div>
</section>
