.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-left: 38%;
  background-color: antiquewhite;
}

.list-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
  background-color: aqua;
}

.post-list-item {
  border: solid 2px blue;
  width: 100%;
  margin-bottom: 30%;
}
