/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

body {
  font-family: "Lato", sans-serif;
  background-color: #4e5166;
}

.midnightblue {
  color: #fd2d01;
}
.blue {
  color: #ffd7d7;
}
.indianred {
  color: #4e5166;
}
.black {
  color: black;
}
.white {
  color: white;
}

.input_click:hover {
  cursor: pointer;
}

.back_midnightblue {
  background-color: #fd2d01;
}
.back_blue {
  background-color: #ffd7d7;
}
.back_indianred {
  background-color: #4e5166;
}
.back_black {
  background-color: black;
}
.back_white {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.input {
  margin-bottom: 8%;
  height: 40px;
  width: 65%;
  border-color: #4e5166;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  width: 25%;
  margin-left: 38%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid 2px #4e5166;
}
