/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

.midnightblue {
  color: #112341;
}
.blue {
  color: #75a8ff;
}
.indianred {
  color: #d1515a;
}
.black {
  color: black;
}
.white {
  color: white;
}

.input_click:hover{
  cursor: pointer;
}


.back_midnightblue {
    background-color: #112341;
  }
  .back_blue {
    background-color: #75a8ff;
  }
  .back_indianred {
    background-color: #d1515a;
  }
  .back_black {
    background-color: black;
  }
  .back_white {
    background-color: white;
  }

.center{
    display: flex;
    justify-content: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
}

.input{
  margin-bottom: 5%;
  height: 35px;
  width: 60%;
  border-color: midnightblue;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.bloc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 25%;
  margin-left: 38%;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid 2px midnightblue;
}